<?xml version="1.0"?>
<assembly>
  <id>plugin</id>
  <formats>
    <format>zip</format>
  </formats>
  <includeBaseDirectory>false</includeBaseDirectory>

  <files>
    <file>
      <source>lib/arirang.lucene-analyzer-7.4.0-1.1.0.jar</source>
      <!--<outputDirectory>arirang-analysis</outputDirectory>-->
    </file>
    <file>
      <source>lib/arirang-morph-1.1.0.jar</source>
      <!--<outputDirectory>arirang-analysis</outputDirectory>-->
    </file>
    <file>
      <source>target/elasticsearch-analysis-arirang-6.4.0.jar</source>
      <!--<outputDirectory>arirang-analysis</outputDirectory>-->
    </file>
    <file>
      <source>${basedir}/src/main/resources/plugin-descriptor.properties</source>
      <!--<outputDirectory>arirang-analysis</outputDirectory>-->
      <filtered>true</filtered>
    </file>
  </files>
</assembly>