<?xml version="1.0"?>
<assembly>
  <id>plugin</id>
  <formats>
      <format>zip</format>
  </formats>
  <includeBaseDirectory>false</includeBaseDirectory>

  <files>
    <file>
      <source>lib/arirang.lucene-analyzer-5.4.1-1.0.0.jar</source>
      <outputDirectory>analysis-arirang</outputDirectory>
    </file>
    <file>
      <source>lib/arirang-morph-1.0.3.jar</source>
      <outputDirectory>analysis-arirang</outputDirectory>
    </file>
    <file>
      <source>target/elasticsearch-analysis-arirang-2.2.0.jar</source>
      <outputDirectory>analysis-arirang</outputDirectory>
    </file>
    <file>
      <source>${basedir}/src/main/resources/plugin-descriptor.properties</source>
      <outputDirectory>analysis-arirang</outputDirectory>
      <filtered>true</filtered>
    </file>
  </files>
</assembly>